---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Contact | Rohith Kumar Tappa">
  <main>
    <h1>Contact</h1>

    <p>Email: <a href="mailto:tappa03@umd.edu">tappa03@umd.edu</a></p>
    <p>LinkedIn: <a href="https://www.linkedin.com/in/rohithtappa/" target="_blank" rel="noreferrer">linkedin.com/in/rohithtappa</a></p>
    <p>GitHub: <a href="https://github.com/roohith47" target="_blank" rel="noreferrer">github.com/roohith47</a></p>
  </main>
</Layout>
