---
import Layout from "../layouts/Layout.astro";
---
<Layout title="Rohith Kumar Tappa">
<div class="grid two">
  <section class="card hero col-7">
    <h1>Hi, Welcome to my Portfolio Page.</h1>
	<div class="kicker"><span class="kicker-dot"></span> MSIS @ UMD</div>

    <p>
	I’m a Master’s student in Information Systems at the University of Maryland – Robert H. Smith School of Business, interested in how data, technology, and business decisions come together in the real world. I like breaking down complex systems to understand how they actually work.
    </p>

	<p>
	I also love Formula 1, Experimenting in the Kitchen and keeping up with technology.
	</p>
    <div class="cta">
      <a class="button primary" href="/projects">View Projects</a>
      <a class="button primary" href="/resume">Resume</a>
    </div>
  </section>

  <section class="card col-5">
    <div class="split">
      <h2>Highlights</h2>
      <a class="button" href="/projects">See all</a>
    </div>
	<p><strong>Research Intern @ NITW, India</strong><br/>Machine Learning &  Deep Learning.</p>
	<p><strong>DeliveryCorp - WBS & Budgetting</strong><br/>Project Simulation and Budgetting.</p>
    <p><strong>Pavement Damage Classification</strong><br/>MobileNetV2 transfer learning, 98.57% accuracy.</p>
    <p><strong>Brain Stroke Disease Detection</strong><br/>CNN-based diagnosis pipeline + evaluation.</p>
    <p><strong>Leadership</strong><br/>IEEE - VBIT SB Main Executive Committee & TEDxVBIT Sponsorship Lead, mentored 20+ students,  event promotions, and secured sponsorship.</p>
  </section>

  <section class="card col-12 section">
    <h2>What I’m looking for</h2>
    <p>Internships / full-time roles in Product/Project Management, Business/Data Analytics, Digital Transformation Consulting</p>
  </section>
</div>
</Layout>

