---
import Layout from "../layouts/Layout.astro";
---
<Layout title="Rohith Kumar Tappa">
<main>
  <section>
    <h1> Hi, This is Rohith Kumar Tappa </h1>
    <p>
      Masters of Scienc in Information Systems at University of Maryland, College Park 路 Data Analytics 路 Machine Learning 路
      Digital Transformation
    </p>

    <p>
      I build data-driven and ML-powered systems, with experience in
      computer vision, applied analytics, and project-based problem solving.
    </p>

    <div style="margin-top: 1.5rem;">
      <a href="/projects">View Projects</a> 路
      <a href="/about">About Me</a>
    </div>
  </section>
</main>
</Layout>

